body{
  display: flex;
  justify-content: center;
}
/* .canva{
  margin-top: auto;
} */
#globale{
  background-color: black;
}
#joueur1{
  background-color: black;
}
#joueur2{
  background-color: black;
}
